:root{
    --menu-go-left: translateX(-110%);
    --menu-go-right: translateX(110%);

    /* menu enters from the left */
    --menu-entering: var(--menu-go-left);
    /* menu leaves to the right */
    --menu-leaving: var(--menu-go-right);
    /* Javascript will change these dinamically */
}

.menu-dropdown {
    z-index:var(--z-index-menu-items);
    position: fixed;
    top: 68px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--menu-bg);
    border: var(--menu-border);
    border-radius: var(--menu-border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--menu-speed) ease;
}

.menu {
    width: 100%;
}

.menu-item {
    color: var(--menu-text-color);
    z-index: var(--z-index-menu-items);
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--menu-border-radius);
    transition: background var(--menu-speed);
    padding: 0.5rem;
}

.menu-item .menu-icon-button {
    margin-right: 0.5rem;
}

.menu-item .menu-icon-button:hover {
    filter: none;
    cursor: pointer;
}

.menu-item .menu-icon-right:hover {
    cursor: pointer;
}

.menu-item:hover {
    background-color: #525357;
}

div.menu-item {
    text-align: center;
}

.menu-icon-right {
    fill: var(--menu-text-color);
    margin-left: auto;
}


/* Css transitions */
/* This is the default transition for each menu tab, applies to all elements */
.menu-original-enter{
    width: 90%;
    position: absolute;
    transform: var(--menu-entering);
}

.menu-original-enter-active{
    transform: translateX(0%);

    transition: all var(--menu-speed) ease;
}

.menu-original-exit{
    position: absolute;
}

.menu-original-exit-active{
    width: 90%;
    transform: var(--menu-leaving);

    transition: all var(--menu-speed) ease;
}

/* This is to make some of the lines not animation when ignoretransition is set */
.menu-original-enter a[ignoretransitionstart], .menu-original-enter div[ignoretransitionstart]{    
    transform: var(--menu-leaving);
}

.menu-original-enter-active a[ignoretransitionstart], .menu-original-enter-active div[ignoretransitionstart]{    
    transform: translateX(0%);

    transition: all var(--menu-speed) ease;
}

/* .menu-original-exit a:first-child[ignoretransitionend] {} */


.menu-original-exit-active a[ignoretransitionend], .menu-original-exit-active div[ignoretransitionend]{    
    transform: var(--menu-leaving);

    transition: all 0ms ease;
}