
canvas {
    position: fixed;
    top: 0;
    left: 0;
    /* z-index:-1; */
}

body {
    margin: 0;
    /* overflow: hidden; */
    /* overflow-x: hidden; */

    background: #151616;
    font-family: roboto;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --menu-bg: rgba(15, 15, 15, 0.85);
    /* --menu-bg: #242526a0; */

    --menu-bg-accent: rgba(35, 35, 35, 0.85);
    /* --menu-bg-accent: #484a4d; */
    --menu-text-color: #dadce1;
    /* --menu-nav-size: 60px; */
    --menu-nav-size: 4rem;
    --menu-border: 1px solid #474a4d;
    --menu-border-radius: 8px;
    --menu-speed: 400ms;

    /* --background-scene-color: #87CEEB; */
    --background-scene-color: #2481b6;
    

    /* scrollbar */
    --scrollbar-background: var(--menu-bg);
    --scrollbar-color: #484a4d;


    /* text-interface is the canvas that show fps. Maybe it will show more stuff later. */
    /* This attribute is the size of the font. The size of 
    the div will be relative to this value. Javascript also 
    uses this value for the canvas size. */
    --background-scene-text-interface: 2rem;
    /* How low the div will be from top to bottom */
    /* --background-scene-div-position: calc(100% - 2 * (var(--background-scene-text-interface) * 1.618 * 1.25)); */
    
}

/* Scrollbars(start) */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-background) var(--scrollbar-color);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-background);
    border-radius: 20px;
    border: 3px solid var(--scrollbar-color);
  }
/* Scrollbars(end) */



#bg-birds{
    z-index: var(--z-index-background-canvas-birds);
}

#bg-cube{
  z-index: var(--z-index-background-canvas-cube);
}

#bg-floating{
  z-index: var(--z-index-background-canvas-floating);
}

#bg-text{
  /* margin-top: auto;
  margin-right: auto; */
  z-index: var(--z-index-background-scene-text-interface);
  position: relative;
  /* display: inline-block; */
  /* float: inline-end; */
  /* bottom: 0; */
}

#background-scene-container-birds{
    z-index: var(--z-index-background-div-birds);
}

#background-scene-container-cube{
  z-index: var(--z-index-background-div-cube);
}

#background-scene-container-floating{
  z-index: var(--z-index-background-div-floating);
}

#background-scene-text-interface{
  z-index: var(--z-index-background-scene-text-interface);
}

.background-scene-container {
  /* tell our scene container to take up the full page */
  position: fixed;
  width: 100%;
  /* width: 120%;
  left: -10%; */

  /* height: 100%; */

  /* When scrolling in a touch device, the bottom of the canvas becomes visible
    stretching the image taller to see if the issue is solved.*/
  top: -10%;
  height: 120%;
  /* z-index: -2; */

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: var(--background-scene-color);
}

.background-scene-container#background-scene-text-interface{
  background-color: #0000;
  width: auto;
  height: calc(var(--background-scene-text-interface) * 1.618 * 1.25);
  /* bottom: 5%; */
  left: 5%;

  /* 120  105                 X = 105/1.2*/
  /* 100  X*/
  top: calc(105% / 1.2 - var(--background-scene-text-interface) * 1.618 * 1.25);
  /* top: */
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a { 
    color: var(--menu-text-color);
    text-decoration: none;
    cursor: pointer;
}
