/* 
    There are several components in different z-heights 
    of the webpage. Some these heights also change.
    So this file was created to keep track of all of them.
 */

:root{
    /* background 3d canvas */
    --z-index-background-invisible: -3;
    --z-index-background-visible: -2;
    --z-index-background-interface: 1;

    /* --z-index-front-content-invisible: -4; */
    --z-index-front-content-visible: 2;

    --z-index-cube-controlled: 3;

    

    --z-index-menu-items: 99;

    --z-index-front-content: var(--z-index-front-content-visible);
    --z-index-background-canvas-cube: var(--z-index-background-invisible);
    --z-index-background-canvas-birds: var(--z-index-background-invisible);
    --z-index-background-canvas-floating: var(--z-index-background-invisible);

    --z-index-background-scene-text-interface: var(--z-index-background-invisible);

    --z-index-background-div-cube: var(--z-index-background-canvas-cube);
    --z-index-background-div-birds: var(--z-index-background-canvas-birds);
    --z-index-background-div-floating: var(--z-index-background-canvas-floating);

}