@import url("https://use.typekit.net/jmk3xov.css");

:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 350px;

    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}


main {
    width: 100vw;
    /* width: 100%; */
    color: white;
    z-index: var(--z-index-front-content);
    /* Since this is the  main content of the page, I don't think it needs to be absolute */
    /* position: absolute; */
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

main ul{
    padding-left: 4%;
}

main ul.list-circle{
    list-style-type: circle;
}

main ul.list-disc{
    list-style-type: disc;
}

h1, h2, h3, blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
}

header {
    background: var(--dark-bg);
    grid-column: 3/ span 7;
    /* font-size: 1.75rem; */
    font-size: calc(0.5rem + 2.5vw);
    padding: 1rem;
    margin-bottom: var(--spacing);
}

section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
}

blockquote p {
    color: black;
    background-color: rgba(255, 255, 255, 0.55);
    font-size: 4rem;
    display: inline;
    line-height: 1;
}

.content-left {
    grid-column: 6 / 12;
}


